h1 {
    text-align: center;
    color: var(--claret);
    text-transform: uppercase;
    font-size: 300%;
    font-family: 'JetBrains Mono', monospace;
    width: 100%;
    background-color: var(--light-orange);
    margin: 0;
    margin-bottom: -1%;
    padding: 10px 0px;
}

nav {
    margin-top: 0%;
    width: 100%;
    background-color: var(--golden-brown);
}

html {
    --rich-black: #042a2bff;
    --wild-orchid: #d56aa0ff;
    --light-orange: #fcd0a1ff;
    --claret: #7c0b2bff;
    --golden-brown: #99621eff;
    background-color: var(--rich-black);
}

body {
    margin: 0;
}

#counter {
    color: var(--light-orange);
}