h1 {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 300%;
    font-family: 'JetBrains Mono', monospace;
}

html {
    background-color: black;
}

#counter {
    color: white;
}