h1 {
    text-align: center;
    color: var(--claret);
    text-transform: uppercase;
    font-size: 300%;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--light-orange);
    margin: 0;
    padding: 10px 0px;
}

nav {
    padding-left: 2%;
    background-color: var(--golden-brown);
}


html {
    --rich-black: #042a2bff;
    --wild-orchid: #d56aa0ff;
    --light-orange: #fcd0a1ff;
    --claret: #7c0b2bff;
    --golden-brown: #99621eff;
    background-color: var(--rich-black);
}

body {
    font-family: 'Source Code Pro';
    margin: 0;
}

#counter {
    height: 100px;
    width: 100px;
    margin-top: 5px;
    background-color: var(--light-orange);
}